table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
th {
    width: 250px;
  }
tr:nth-child(odd) {
    background-color: red;
}
th {
    background-color: white;
      }
tr:nth-child(even) {
    background-color: yellow;
    }
.left {
    text-align: left;
}
.right {
    text-align: right;
}.center {
    text-align: center;
}
